@model RowEditing.Models.Customer

@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    <table border="1" cellpadding="10">
        <tr>
            <td>Customer ID :</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Company Name :</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Contact Name :</td>
            <td>@Model.Role</td>
        </tr>        
        <tr>
            <td colspan="2">
                <input type="submit" value="Edit"
                       formaction="/home/edit/@Model.Id" />
                <input type="submit" value="Cancel"
                       formaction="/home/index" />
            </td>
        </tr>
    </table>
}